<nav class="navbar navbar-expand-lg navbar-success bg-success">
    <a class="navbar-brand" href="/">munggo!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Favorites</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">munggo!</h1>
        <p class="lead">Your favorite recipes</p>
    </div>
</div>

<section class="container" id="recipes">
    <div class="row">
        <div class="col-lg-3 col-md-6 recipe-col" id="template" hidden>
            <article class="card">
                <img src="..." class="card-img-top recipe-image" alt="...">
                <i class="fas fa-heart"></i>
                <div class="card-body">
                    <p class="card-text recipe-ratings">Rating</p>
                    <h5 class="card-title recipe-description">Description</h5>
                    <p class="card-text recipe-author">Author</p>
                    <a href="#" target="_blank" class="btn btn-primary read-recipe-btn">Checkout Recipe</a>
                    <button class="btn btn-secondary view-comments-btn">View comments</button>
                </div>
            </article>
        </div>
    </div>
</section>

<section class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentsModalTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="comments-list">
                    <li class="comment" id="comment-template" hidden>
                        <p>Comment Template</p>
                        <i class="fas fa-trash-alt fa-lg delete-comment-btn"></i>
                    </li>
                </ul>
                <label for="new-comment">Add your comment below.</label>
                <div class="input-group mb-3">

                    <input type="text" class="form-control" id="new-comment" aria-describedby="basic-addon3">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-comment-btn">Add comment</button>
            </div>
        </div>
    </div>
</section>